/* Variables */
:root {
  --primary: black;
  --dot-size: 8px;
}

html,
body,
html *,
body * {
  cursor: none;
}

.cursor-dot,
.cursor-dot-outline {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  z-index: 10000000;
}

.cursor-dot {
  width: var(--dot-size);
  height: var(--dot-size);
  background-color: var(--primary);
}

.cursor-dot-outline {
  width: calc(var(--dot-size) * 5);
  height: calc(var(--dot-size) * 5);
  background-color: color-mix(in oklab, var(--primary) 20%, white 10%);
}
